
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.cinema-RDN {
  height: 108rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;

  .tastypopcornsinawhiteandredstripscupisolated-3-removebg-preview-1-L5S {
    position: absolute;
    left: 39.3rem;
    top: 14.7rem;
    object-fit: cover;
    vertical-align: top;
    width: 65.4rem;
    height: 64.6158rem;
  }
  .captura-de-pantalla-2023-12-13-1928541-2-Brk {
    width: 104.4rem;
    height: 21.1rem;
    position: absolute;
    left: 19.8rem;
    top: 40.7rem;
    object-fit: cover;
    vertical-align: top;
  }
  .captura-de-pantalla-2023-12-13-192854-4-JgU {
    left: 3.7rem;
    top: 5.1rem;
    object-fit: cover;
    vertical-align: top;
    opacity: 0.8;
    width: 18.6rem;
    height: 2.5rem;
    position: absolute;
  }
  .captura-de-pantalla-2023-12-13-204739-2-pep {
    width: 192rem;
    height: 108rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    vertical-align: top;
  }
  .tastypopcornsinawhiteandredstripscupisolated-3-removebg-preview-2-9SC {
    width: 65.4rem;
    height: 64.6158rem;
    position: absolute;
    left: 63.3rem;
    top: 18.9rem;
    object-fit: cover;
    vertical-align: top;
  }
  .captura-de-pantalla-2023-12-13-1928541-3-edr {
    object-fit: cover;
    vertical-align: top;
    width: 104.4rem;
    height: 21.1rem;
    position: absolute;
    left: 43.8rem;
    top: 47rem;
  }
  .captura-de-pantalla-2023-12-13-192854-5-yg8 {
    top: 5.6rem;
    object-fit: cover;
    vertical-align: top;
    opacity: 0.8;
    width: 18.6rem;
    height: 2.5rem;
    position: absolute;
    left: 4.2rem;
  }
  .polygon-2-VPa {
    height: 4.9rem;
    position: absolute;
    left: 93rem;
    top: 99.4rem;
    object-fit: contain;
    vertical-align: top;
    border-radius: 0.9rem;
    width: 6rem;
  }
  .capturadepantalla2023-12-14155613-removebg-preview-1-dEt {
    position: absolute;
    left: 87.1rem;
    top: 95.9rem;
    object-fit: cover;
    vertical-align: top;
    width: 17.8rem;
    height: 4.2rem;
  }
  .vector-Luz {
    object-fit: contain;
    vertical-align: top;
    width: 2.7rem;
    height: 3.3775rem;
    cursor: pointer;
    position: absolute;
    left: 3rem;
    top: 52.3rem;
  }
  .vector-5cg {
    height: 3.3775rem;
    cursor: pointer;
    position: absolute;
    left: 186.6rem;
    top: 52.3rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.7rem;
  }
  .group-1-RAk {
    position: absolute;
    top: 2.9rem;
    row-gap: 0.3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 2.7rem;
    cursor: pointer;
    left: 186.5rem;
    border-radius: 0.7rem;
    height: 2.7rem;

    .rectangle-1-vdJ {
      width: 100%;
      height: 0.7rem;
      background-color: #ffffff;
      border-radius: 0.7rem;
      flex-shrink: 0;
    }
    .rectangle-2-4zQ {
      width: 100%;
      height: 0.7rem;
      background-color: #ffffff;
      border-radius: 0.7rem;
      flex-shrink: 0;
    }
    .rectangle-3-Ra4 {
      border-radius: 0.7rem;
      flex-shrink: 0;
      width: 100%;
      height: 0.7rem;
      background-color: #ffffff;
    }
  }
}
