
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.restaurant-qJL {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #000000;
  box-sizing: border-box;
  padding: 0rem 2.7rem 0rem 4.2rem;
  width: 100%;

  .captura-de-pantalla-2023-12-13-192854-6-9K2 {
    width: 18.6rem;
    height: 2.5rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
    margin: 5.6rem 18.1rem 0rem 0rem;
    opacity: 0.8;
  }
  .auto-group-ttag-rDS {
    width: 110.2895rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: 35.3105rem;

    .auto-group-dzdj-yor {
      background-repeat: no-repeat;
      margin-bottom: 2.639rem;
      height: 92.761rem;
      position: relative;
      background-size: 100% 100%;
      background-position: center;
      background-image: url('REPLACE_IMAGE:9487fbcab6b8acda9d1e9422a87bf49be3e9e40c');
      flex-shrink: 0;
      width: 100%;

      .captura-de-pantalla-2023-12-13-1928541-1-iWY {
        width: 104.4rem;
        height: 21.1rem;
        position: absolute;
        left: 4.4rem;
        top: 40.1rem;
        object-fit: cover;
        vertical-align: top;
      }
      .disparo-vertical-deliciosa-pizza-sobre-superficie-negra-removebg-2-SBe {
        vertical-align: top;
        width: 110.2895rem;
        height: 92.761rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
      }
      .captura-de-pantalla-2023-12-13-1928541-2-YkU {
        left: 4.4rem;
        top: 40.1rem;
        object-fit: cover;
        vertical-align: top;
        width: 104.4rem;
        height: 21.1rem;
        position: absolute;
      }
    }
    .auto-group-yy92-3SL {
      height: 8.9rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 41.389rem 0rem 42.2rem;
      width: calc(100% - 83.5895rem);

      .polygon-2-AWx {
        left: 9.9rem;
        top: 4rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 0.9rem;
        width: 6rem;
        height: 4.9rem;
        position: absolute;
      }
      .capturadepantalla2023-12-14155701-removebg-preview-1-J7N {
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 26.7rem;
        height: 4.2rem;
      }
    }
  }
  .auto-group-nfp8-ctk {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 2.9rem;
    align-items: center;

    .group-1-mWk {
      width: 2.7rem;
      height: 2.7rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      border-radius: 0.7rem;
      flex-shrink: 0;
      margin: 0rem 0.1rem 46.7rem 0rem;
    }
    .vector-tLU {
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-left: 0.1rem;
      width: 2.7rem;
      height: 3.3775rem;
    }
  }
}
