.slider{
    aspect-ratio: 1/4;
    width: 305%;
    height: 1080px;
    position: relative;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;

}
.slider img{
    width: 99%;
    
    position: sticky;
    object-fit: cover;
    
scroll-snap-align: center;
}